.title {
    color:  #000;
    font-family: "Open Sans", sans-serif !important;
    font-size: 22px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 32px !important;
  }
  